.habilidades {
	width: calc(100% - 100px);
	background-color: #191919;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	color: white;
	display: flex;
	flex-direction: column;
	margin-top: 51px;
	@media (min-width: 1300px) {
		width: 1200px;
	}
	> .iconos {
		display: flex;
		justify-content: center;
		width: 100%;
		flex-wrap: wrap;
		margin-top: 5px;
		gap: 20px;
		> .contenedor {
			display: flex;
			flex-direction: column;
			> .icono {
				margin: 10px;
				border-radius: 5px;
				width: 100px;
				height: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 65px;
				padding: 5px;
				position: relative;
				cursor: pointer;
				overflow: hidden;
				> .fa-html5 {
					color: #d94625;
					z-index: 1;
				}
				> .fa-css3-alt {
					color: #264de4;
					z-index: 1;
				}
        > .fa-bootstrap {
          color: #7013F2;
					z-index: 1;
        }
        > .fa-sass{
          color: #CC6699;
					z-index: 1;
        }
        > .fa-git-alt{
          color: #F24535;
					z-index: 1;
        }
        > .fa-github{
          color: #35465C;
					z-index: 1;
        }
			}
		}
	}
  > p{
    margin-top: 15px;
  }
}
.html {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 40px;
		background-color: #d94625;
		height: 200%;
		animation: border 2.5s linear infinite;
    transition: .8s;
	}
	&::after {
		content: "";
		position: absolute;
		inset: 2px;
		border-radius: 5px;
		background-color: #191919;
	}
  &:hover::before{
    width: 400px;
  }
}

.css {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 40px;
		background-color: #264de4;
		height: 200%;
		animation: border 2.5s linear infinite;
    transition: .8s;
	}
	&::after {
		content: "";
		position: absolute;
		inset: 2px;
		border-radius: 5px;
		background-color: #191919;
	}
  &:hover::before{
    width: 400px;
  }
}

.bootstrap {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 40px;
		background-color: #7013F2;
		height: 200%;
		animation: border 2.5s linear infinite;
    transition: .8s;
	}
	&::after {
		content: "";
		position: absolute;
		inset: 2px;
		border-radius: 5px;
		background-color: #191919;
	}
  &:hover::before{
    width: 400px;
  }
}

.sass {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 40px;
		background-color: #CC6699;
		height: 200%;
		animation: border 2.5s linear infinite;
    transition: .8s;
	}
	&::after {
		content: "";
		position: absolute;
		inset: 2px;
		border-radius: 5px;
		background-color: #191919;
	}
  &:hover::before{
    width: 400px;
  }
}

.git {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 40px;
		background-color: #F24535;
		height: 200%;
		animation: border 2.5s linear infinite;
    transition: .8s;
	}
	&::after {
		content: "";
		position: absolute;
		inset: 2px;
		border-radius: 5px;
		background-color: #191919;
	}
  &:hover::before{
    width: 400px;
  }
}

.github {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		width: 40px;
		background-color: #35465C;
		height: 200%;
		animation: border 2.5s linear infinite;
    transition: .8s;
	}
	&::after {
		content: "";
		position: absolute;
		inset: 2px;
		border-radius: 5px;
		background-color: #191919;
	}
  &:hover::before{
    width: 400px;
  }
}














@keyframes border {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
