main {
	grid-area: main;
	display: flex;
	justify-content: center;
	align-items: center;
	> .sobremi {
		width: calc(100% - 100px);
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		text-align: center;
		padding: 10px;
		color: white;
		display: flex;
		flex-direction: column;
		@media (min-width: 1300px) {
			width: 1200px;
		}
		.texto {
			> p {
				margin: 5px 0px 10px 0px;
			}
		}
		.certificados {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
			.certificado {
				width: 500px;
				border: 3px solid #ea52f8;
				border-radius: 3px;
        margin: 10px;
        display: flex;
        position: relative;
        > img{
          width: 100%;
        }
        > .boton{
          height: 70px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          > a{
            display: block;
            color: white;
            padding: 5px;
            border-radius: 3px;
            border: 2px solid #0066ff;
            transition: .5s;
            &:hover{
              background-color: #0066ff;
            }
          }
        }
			}
      > .certificado1{
        width: 500px;
				border: 3px solid #ea52f8;
				border-radius: 3px;
        margin: 10px;
        position: relative;
        display: flex;
        > img{
          width: 100%;
        }
        > .borroso{
          position: absolute;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(20px);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
		}
	}
}
